body {
	padding-top: 25px;
	padding-bottom: 40px;
}

.sidebar-nav {
	padding: 9px 0;
}
div.contenido{
    //overflow: auto;
    //height: 450px;
    height: auto;
    /*background: none repeat scroll 0% 0% rgb(241, 241, 241);*/
    background-color: white;
}
/* Large desktop */
@media (min-width: 1200px) {
	body {
		padding-top: 25px;
		padding-bottom: 40px;
	}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	body {
		padding-top: 0;
		padding-bottom: 0;
	}
	.hero-unit h1 { font-size: 2em; }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	body {
		padding-top: 0;
		padding-bottom: 0;
	}
	.hero-unit h1 { font-size: 2em; }
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	body {
		padding-top: 0;
		padding-bottom: 0;
	}
	.hero-unit h1 { font-size: 2em; }
}
